
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
$font-main: 'Raleway';

@mixin margin-top-bottom($margin) {
    margin-top: $margin;
    margin-bottom: $margin;
}


.hero-bg-image {
    background-image: url("/images/hero-image.jpg");
    padding: 100px;
    width: 90%;
    @include margin-top-bottom(40px);
    background-size: cover;
}

h1 {
   font-family: $font-main; 
   font-size: 24px;
}